aiohttp==3.13.2
aiogram==3.27.0
APScheduler==3.11.1
SQLAlchemy==2.0.44
aiosqlite==0.21.0
pydantic==2.12.4
pydantic-settings==2.12.0
python-dotenv==1.2.1
openai==2.8.1
tenacity==9.1.2
asyncpg==0.30.0
playwright==1.56.0
